.Title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.5em;
}

.Cuerpo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 0.8em;
}

.Price{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
}

.duracion{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
}

.descripcion{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
    margin-right: 1em;
    margin-left: 1em;
}

.box1{
    display:inline-grid;
    text-align: left;
    width: 50%;
}

.box2{
    display:flex;
    text-align: center;
    width: 100%;
}

.App {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.imagen{
    margin-top: 20px;
    display:flex;
    text-align: right;
    align-items: center;
    width: 100%;
    max-height: 500px;
}
.paperStyle{
    padding: 40px;
    width: 30em;
    margin: 20px;
}

.buttonCalificar{
    margin-left: auto !important;
    width: 100%;
}

.cajaBotones{
    display: grid !important;
}

@media (min-width: 300px) {
    .Title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 1.5em;
    }
    
    .Cuerpo{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 0.8em;
    }
    
    .Price{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 1.5em;
    }
    
    .duracion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 1.5em;
    }
    
    .descripcion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 1.5em;
        margin-right: 1em;
        margin-left: 1em;
    }
    
    .box1{
        display:inline-grid;
        text-align: left;
        width: 50%;
    }
    
    .box2{
        display:flex;
        text-align: center;
        width: 100%;
    }
    
    .App {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
    .imagen{
        margin-top: 20px;
        display:flex;
        text-align: right;
        align-items: center;
        width: 100%;
        max-height: 500px;
    }
    .paperStyle{
        padding: 40px;
        width: 30em;
        margin: 20px;
    }
    
    .buttonCalificar{
        margin-left: auto !important;
        width: 100%;
    }

    .cajaBotones{
        display: grid !important;
    }
}

@media (min-width: 400px) {
    .Title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 1.8em;
    }
    
    .Cuerpo{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 1em;
    }
    
    .Price{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 1.8em;
    }
    
    .duracion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 1.8em;
    }
    
    .descripcion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 1.8em;
        margin-right: 1em;
        margin-left: 1em;
    }
    
    .box1{
        display:inline-grid;
        text-align: left;
        width: 50%;
    }
    
    .box2{
        display:flex;
        text-align: center;
        width: 100%;
    }
    
    .App {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
    .imagen{
        margin-top: 20px;
        display:flex;
        text-align: right;
        align-items: center;
        width: 100%;
        max-height: 500px;
    }
    .paperStyle{
        padding: 40px;
        width: 30em;
        margin: 20px;
    }
    
    .buttonCalificar{
        margin-left: auto !important;
    }

    .cajaBotones{
        display: grid !important;
    }
}


@media (min-width: 600px) {
    .Title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 1.8em;
    }
    
    .Cuerpo{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 1em;
    }
    
    .Price{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 1.8em;
    }
    
    .duracion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 1.8em;
    }
    
    .descripcion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 1.8em;
        margin-right: 1em;
        margin-left: 1em;
    }
    
    .box1{
        display:inline-grid;
        text-align: left;
        width: 50%;
    }
    
    .box2{
        display:flex;
        text-align: center;
        width: 100%;
    }
    
    .App {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
    .imagen{
        margin-top: 20px;
        display:flex;
        text-align: right;
        align-items: center;
        width: 100%;
        max-height: 500px;
    }
    .paperStyle{
        padding: 40px;
        width: 30em;
        margin: 20px;
    }
    
    .buttonCalificar{
        margin-left: auto !important;
    }
    .cajaBotones{
        display: grid !important;
    }
}

@media (min-width: 750px) {
    .Title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 1.8em;
    }
    
    .Cuerpo{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 1em;
    }
    
    .Price{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 1.8em;
    }
    
    .duracion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 1.8em;
    }
    
    .descripcion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 1.8em;
        margin-right: 1em;
        margin-left: 1em;
    }
    
    .box1{
        display:inline-grid;
        text-align: left;
        width: 50%;
    }
    
    .box2{
        display:flex;
        text-align: center;
        width: 100%;
    }
    
    .App {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
    .imagen{
        margin-top: 20px;
        display:flex;
        text-align: right;
        align-items: center;
        width: 100%;
        max-height: 500px;
    }
    .paperStyle{
        padding: 40px;
        width: 30em;
        margin: 20px;
    }
    
    .buttonCalificar{
        margin-left: auto !important;
        width: 24%;
    }

    .cajaBotones{
        display: flex !important;
    }
}

@media (min-width: 1000px) {
    .Title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 2em;
    }
    
    .Cuerpo{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 1.2em;
    }
    
    .Price{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 2em;
    }
    
    .duracion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 2em;
    }
    
    .descripcion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        margin-right: 1em;
        margin-left: 1em;
    }
    
    .box1{
        display:inline-grid;
        text-align: left;
        width: 50%;
    }
    
    .box2{
        display:flex;
        text-align: center;
        width: 100%;
    }
    
    .App {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
    .imagen{
        margin-top: 20px;
        display:flex;
        text-align: right;
        align-items: center;
        width: 100%;
        max-height: 500px;
    }

    .paperStyle{
        padding: 40px;
        width: 30em;
        margin: 20px;
    }
    
    .buttonCalificar{
        margin-left: auto !important;
        width: 28%;
        min-width: 83px !important;
    }

    .cajaBotones{
        display: flex !important;
    }
}

@media (min-width: 1200px) {
    .Title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 2.2em;
    }
    
    .Cuerpo{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 1.4em;
    }
    
    .Price{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 2.2em;
    }
    
    .duracion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 2.2em;
    }
    
    .descripcion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        margin-right: 1em;
        margin-left: 1em;
    }
    
    .box1{
        display:inline-grid;
        text-align: left;
        width: 50%;
    }
    
    .box2{
        display:flex;
        text-align: center;
        width: 100%;
    }
    
    .App {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
    .imagen{
        margin-top: 20px;
        display:flex;
        text-align: right;
        align-items: center;
        width: 100%;
        max-height: 500px;
    }

    .paperStyle{
        padding: 40px;
        width: 30em;
        margin: 20px;
    }
    
    .buttonCalificar{
        margin-left: auto !important;
        width: 24%;
        min-width: 83px !important;
    }

    .cajaBotones{
        display: flex !important;
    }
}


@media (min-width: 1400px) {
    .Title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 2.5em;
    }
    
    .Cuerpo{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 1.5em;
    }
    
    .Price{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: bolder;
        font-size: 2.5em;
    }
    
    .duracion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 2.5em;
    }
    
    .descripcion{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-weight: normal;
        font-size: 2em;
        margin-right: 1em;
        margin-left: 1em;
    }
    
    .box1{
        display:inline-grid;
        text-align: left;
        width: 50%;
    }
    
    .box2{
        display:flex;
        text-align: center;
        width: 100%;
    }
    
    .App {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
    .imagen{
        margin-top: 20px;
        display:flex;
        text-align: right;
        align-items: center;
        width: 100%;
        max-height: 500px;
    }

    .paperStyle{
        padding: 40px;
        width: 30em;
        margin: 20px;
    }

    .buttonCalificar{
        margin-left: auto !important;
        width: 24%;
        min-width: 83px !important;
    }

    .cajaBotones{
        display: flex !important;
    }
    
}